.main{
    width: 50%;
    margin: auto;
    border-style: solid;
    background-color: white;
    border-radius: 10px;
    border-color: white;
}
h1{
    text-align: center;
}
body{
    background-color: rgb(234, 228, 228);
}
.small{
    width :50%;
    margin: auto;
}
input[type=text]{
    height: 30px;
    width: 90%;
    border-radius: 5px;
}input[type=email]{
    height: 30px;
    width: 90%;
    border-radius: 5px;
}input[type=number]{
    height: 30px;
    width: 90%;
    border-radius: 5px;
}
input[type=submit]{
    height: 30px;
    width: 100px;
    background-color: aqua;
    border-radius: 5px;
    border-color: aqua;
}